.services_container{
    font-family: "Roboto", serif;
    font-size: 25px;
    height: 45rem;
    color: #00ffee;
    border-radius: 12px;
    background: #ffffff1a;
    border: 1px solid #ffffff20;
    backdrop-filter: blur(16px) saturate(120%);
}

.darker_bg {
    display: flex;
    flex-direction: column;
}

.services_container {
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 30%;
    height: 35rem;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px rgb(0, 247, 255);
}

.contact_h1 {
    margin: 20px 0px;
}

main *{
    margin: 10px 0px;
}