/* font-family: "Roboto", serif; */
/* font-family: "Anton", serif; */

.darker_bg {
    position: absolute;
    right: 0px;
    left: 0px;
    width: 100vw;
}

.body_index {
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-shadow:#00ffee 0px 5px 12px;
}

h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-shadow:#00ffee 0px 5px 12px;
}

.partition_container {
    width: 60%;
    height: 80%;
    align-items: center;
}

.about_us, .sidebar {
    font-family: "Roboto", serif;
    text-align: justify;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 12px;
    background: #ffffff1a;
    border: 1px solid #ffffff20;
    backdrop-filter: blur(35px) saturate(120%);
    padding: 20px;
    text-shadow:#00ffee 0px 5px 12px;
    box-shadow: 0 4px 6px rgb(0, 247, 255);
}

.footer {
    margin-top: 50px;
}